<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casino of Hell</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div id="history"> 
        <div id = "feed">
            <table>
                <tr class="table_header">
                    <th> Date </th>
                    <th> Amount </th>
                </tr>
                <% @history.each do |transaction| %>
                    <tr>
                        <td> <%= transaction["time"] %> </td>
                        <td> <%= transaction["value"] %> </td>
                    </tr>
                <% end %>
            </table>
        </div>
        <div id = "highscore">
        </div>
        <div id = "absolute_balance" >
         <p> <%= @total %> </p>
        </div>
    </div>
    <form action="/account/<%= session[:user]["id"] %>/delete" method="POST">
        <button type="submit" id="delete_account">Delete Account</button>
    </form>
</body>
</html>