<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casino of Hell</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>
<body>
    <main> 
        <div class='login_square'>
            <h1>Login</h1>
            <% if flash[:error] %>
                <p class="error"><%= flash[:error] %></p>
            <% end %>
            <form action="/login" method='POST'>
                <input type='text' placeholder='Username' name='username'>
                <input type='password' placeholder='Password' name='password'>
                <button type='submit'>Login</button>
            </form>
            <form action='/users/new' method='GET'>
                <button type='submit'>Register</button>
            </form>
        </div>
    </main>
</body>
</html>